{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>RiiPedia</title>
</head>

<body>
    <!-- Main Title -->
    <h1>{{ ecommerce }}</h1>
    <h4>PBP E-Commerce Project by {{ name }} ({{ npm }})</h4>
    <h4>{{ class }}</h4>
    
    <hr> <!-- Horizontal line for separation -->
    {% if not product_entries %}
    <p>Belum ada produk yang ditambahkan ke e-commerce ini</p>
    {% else %}
        <!-- Loop through products -->
        {% for product_entry in product_entries %}
        <!-- Book Information Section -->
        <div class="book-info">
            <!-- Product Title -->
            <h2><u>{{ product_entry.name }}</u></h2> <!-- Underlined for emphasis -->
            
            <!-- Product Price -->
            <h3>Price: <strong>Rp{{ product_entry.price }},00</strong></h3> <!-- Bolded for emphasis -->

            <!-- Product Quantity -->
            <p><em>Terjual:</em> {{ product_entry.quantity }}</p> <!-- Italics for emphasis -->

            <!-- Product Description -->
            <p><strong>Description:</strong> {{ product_entry.description }}</p> <!-- Bolded for emphasis -->
        </div>
        <hr> <!-- Horizontal line for separation -->
        {% endfor %}
    {% endif %}
    <hr> <!-- Horizontal line for separation -->
    <a href="{% url 'main:create_product_entry' %}">
        <button>Add New Product</button></a>
</body>
</html>
{% endblock content %}