{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>RiiPedia</title>
</head>

<body>
    <!-- Main Title -->
    <h1>{{ ecommerce }}</h1>
    <h4>PBP E-Commerce Project by {{ name }} ({{ npm }})</h4>
    <h4>{{ class }}</h4>
    
    <hr> <!-- Horizontal line for separation -->

    <!-- Book Information Section -->
    <div class="book-info">
        <!-- Book Title -->
        <h2><u>{{ productname }}</u></h2> <!-- Underlined for emphasis -->
        
        <!-- Book Price -->
        <h3>Price: <strong>Rp{{ price }}</strong></h3> <!-- Bolded for emphasis -->

        <!-- Book Quantity -->
        <p><em>Terjual:</em> {{ quantity }} <!-- Italics for emphasis -->
        </p>
        
        <!-- Book Description -->
        <p><strong>Description:</strong> {{ description }}</p> <!-- Bolded for emphasis -->
    </div>

    <hr> <!-- Horizontal line for separation -->
</body>
</html>
{% endblock content %}